<div class="col-sm-12" style="
    max-width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  ">
    <div class="NewHeader">
        <h1 style="color: white; margin-top:5px" mat-dialog-title>
            {{ data ? "Update" : "Add" }} Meeting
        </h1>
    </div>
    <div mat-dialog-content>
        <form class="form-horizontal">
            <!-- Date -->
            <div class="form-group" style="margin-top: 20px">
                <label class="control-label col-sm-4 add-member-label">Date :
                </label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <input type="date" class="form-control bac" placeholder="Enter Date" />
                </div>
            </div>

            <!-- Remarks -->
            <div class="form-group" style="margin-top: 20px">
                <label class="control-label col-sm-4 add-member-label">Remarks :
                </label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <textarea class="form-control bac" rows="3" formControlName="problemStatement"
                        placeholder="Enter Remarks"></textarea>
                </div>
            </div>

            <!-- Attendance -->
            <div class="form-group" style="margin-top: 20px">
                <label class="control-label col-sm-4 add-member-label">Attendance :
                </label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <label><input type="checkbox"> Pavan Kalyan</label><br>
                            <label><input type="checkbox"> Test1</label><br>
                            <label><input type="checkbox"> Navin Malik</label>
                        </div>
                        <div class="col-md-6">
                            <label><input type="checkbox"> Gaurav</label><br>
                            <label><input type="checkbox"> Contact OM</label><br>
                            <label><input type="checkbox"> Ayush</label><br>
                        </div>
                    </div> -->
                    <mat-select placeholder="Select Attendance" class="form-control bac" multiple>
                        <mat-option value="Africa">Pavan Kalyan</mat-option>
                        <mat-option value="Antarctica">Navin Malik</mat-option>
                        <mat-option value="Asia">Gaurav</mat-option>
                        <mat-option value="Australia">Contact OM</mat-option>
                        <mat-option value="Europe">Ayush</mat-option>
                        <mat-option value="North America">Ravi Teja</mat-option>
                        <mat-option value="South America">Harsha</mat-option>
                    </mat-select>
                </div>


            </div>
            <!-- Late Attendance -->

            <!-- <div class="form-group" style="margin-top: 20px">
                <label class="control-label col-sm-4 add-member-label">Late Attendance :
                </label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"> -->
                    <!-- <input type="text" class="form-control" placeholder="Enter Late Attendance" /> -->
                      <!-- <mat-select placeholder="Select  Late Attendance" class="form-control bac" multiple>
                        <mat-option value="Africa">Pavan Kalyan</mat-option>
                        <mat-option value="Antarctica">Navin Malik</mat-option>
                        <mat-option value="Asia">Gaurav</mat-option>
                        <mat-option value="Australia">Contact OM</mat-option>
                        <mat-option value="Europe">Ayush</mat-option>
                        <mat-option value="North America">Ravi Teja</mat-option>
                        <mat-option value="South America">Harsha</mat-option>
                    </mat-select>
                </div>
            </div> -->

        </form>
    </div>
    <mat-dialog-actions align="end" style="margin-right: -15px; margin-bottom: -22px;">
        <div class="margin-bottom-10" style="margin-top: 30px; margin-right: 10px">
            <button mat-raised-button color="primary" [mat-dialog-close]="'test'">
                <mat-icon>save</mat-icon>  <span>{{ data ? "Update" : "Save" }}</span>
            </button>
            <button mat-raised-button style="background-color: lightgray; color: red" class="add-dark-hover btn-default"
                (click)="close()">
                <mat-icon>cancel</mat-icon>Close
            </button>
        </div>
    </mat-dialog-actions>
</div>