.toggle-container {
    display: flex;
    align-items: center;
    width: 140px; /* Increased width */
    height: 40px;
    background-color: #ccc;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    color: black;
    position: relative;
    transition: background-color 0.3s ease-in-out;

    .toggle-circle {
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      transition: left 0.3s ease-in-out;
    }

    .toggle-text {
      width: 100%;
      text-align: center;
      transition: color 0.3s ease-in-out;
    }

    &.active {
      background-color: blue;
      color: white;

      .toggle-circle {
        left: calc(100% - 35px);
      }
    }
  }


  
.mine {
  margin: 5px;
  background: #e0e0e0;
}

.mine {
  position: fixed;
  bottom: 80px;
  right: 40px;
  background-color: #e6e6e6 !important;
}



/* Apply to table header cells */
table th {
  white-space: nowrap !important;
  min-width: 80px; /* Adjust width */
}

/* Default: keep all td as single line */
table td {
  white-space: nowrap !important;
  min-width: 80px;
}

/* Override only for Problem Statement column */
table td.problem-statement {
  white-space: normal !important;
  word-break: break-word;
  max-width: 430px;   /* Adjust as needed */
}


.problem-statement-header {
  white-space: nowrap !important;
  min-width: 430px !important; /* Adjust only for this column */
}

.switchToggle  {
  cursor: pointer;
}

.range-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-tooltip {
  transform: none;
}

::ng-deep .custom-tooltip {
  margin-bottom: 1px;  /* small gap only */
}


