form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }

  .form-control {
    background-color:white;
  }

  .important .form-control {
  background-color: #fff9c4 !important;
  border: 2px solid #fdd835;
}

  .bs-stepper .bs-stepper-header {
      background: #f8f9fa;
      padding: 10px;
      border-radius: 5px;
      justify-content: flex-start !important;  /* Aligns steps to start */
      gap: 10px;  /* Reduces the space between steps */
      max-width: 600px;  /* Limits stepper width */
      // margin: 0 auto;  /* Centers stepper */
      margin-top:30px
  }
  .bs-stepper-circle {
    background: #007bff;
    color: white;
    width: 30px; /* Increase circle size */
    height: 30px; /* Increase circle size */
    font-size: 18px; /* Increase number size */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .bs-stepper-label{
    font-size: 14px;
    font-weight: 500;
  }

  .active-chip {
    color:  #1976d2 !important;
  }

  .inactive-chip {
    color: #d32f2f  !important;
  }
